h1{
    color: rgb(212, 25, 25);
}
a{
    color:rgb(255, 0, 0);
    font-size: larger;
}
body{
    background-color: rgb(112, 79, 41);
}
h3{
    font-weight: bolder;
    font-size: xx-large;
} 
title{
 color: chocolate;
 font-size: xx-large;

}